* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    stroke: purple;
    fill: palevioletred;
}
.nav-bar {
        list-style-type: none;
        margin: 10px;
        padding: 10px;
        background-color: pink;
        width: 50%;
        height: 60px;
        font-style: italic;
    }
    .image:hover{
       filter: grayscale(100%);
       width: 20%;
    }
    @media only screen and (max-width: 600px) {
        body {
          background-color: rgb(218, 204, 204);
        }
      }
      .input{
        background-color: lightcyan;
        width: 20%;
      }
      .Div{
        text-decoration:underline;
        color: rgb(231, 217, 17);
      }


      .header{
        border: 1px dashed red;
        text-align: center;
    }
    #headings{
        color: blue;
    }
    #headings h1, h3, h6{
        color: brown;
    }
    p{
        font-weight: 500;
    }
    .base a{
        color: black;
        text-decoration: none;
    }
    .base a:active{
        color: blue;
        font-size: 20px;
    }
    #address h2{
        font-style: oblique;
    }
    #address address{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-style: normal;
    }
    .artical article{
        border: 2px solid black;
        margin: 15px;
    }
    #main p{
        padding-left: 12px;
    }
    #main h3{
        color: black;
        font-size: 22px;
    }
    #main h1{
        text-align: center;
    }
    #navbar a{
        color: black;
        text-decoration: none;
        padding-left: 50px;
    }
    #navbar a:hover{
        color: blueviolet;
        font-size: 20px;
    }
    #discrip li{
        list-style-type: armenian;
    }
    #figure img{
        width: 100px;
        transition: width 2s transform 2s;
        transition-delay: 2s;
    }
    #figure img:hover{
        width: 200px;
        transform: rotate(180deg);
    }

    #detail summary:hover{
        font-size: 22px;
    }
     